@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --acccent-color: #8672ff;
    --base-color: white;
    --text-color: #2E2B41;
    --input-color: #f3f0ff;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Poppins, 'Segoe UI', sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}
body{
    height: 100vh;
    background-image: url(backgroungimg.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
}
.content{
    box-sizing: border-box ;
    background-color: var(--base-color);
    height: 100vh;
    width: 40% ; 
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
}
form{
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
form  div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--acccent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
form input{
    box-sizing: border-box;
    padding: 1em;
    background-color: var(--input-color);
    border: none;
    border-radius: 0 10px 10px 0;
}
form input:hover{
    border: 1px solid var(--acccent-color);
}
form button{
    margin-top: 10px;
    border: none;
    border-radius: 800px;
    padding: .85em 4em;
    background-color: var(--acccent-color);
    color: var(--base-color);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: 150ms ease;
}
form button:hover{
    background-color: var(--text-color);
}